{#
/**
 * @file
 * Template to display a column.
 *
 * Available variables:
 * - item: The item to render within a td element.
 *
 * @ingroup themeable
 */
#}
{#% if item.id == 'event_date_on_calendar-2018-06-19-0' %}
{{ dump() }}
{% endif %#}
<td
  id="{{ item.id }}"
  date-date="{{ item.date }}"
  data-day-of-month="{{ item.day_of_month }}"
  headers="{{ item.header_id }}"
  class="{{ item.class }}"
  colspan="{{ item.colspan }}"
  rowspan="{{ item.rowspan }}">
  <div class="inner">
    {{ item.entry }}
  </div>
{% if item.entry|length >= 3 and 'date-box' not in item.class %}
<a href="/calendar-field_event_date/day/{{ item.date|date('Ymd') }}">...</a>
{% endif %}
</td>
