{#
/**
 * @file
 * Default theme implementation for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="alpha_pager">
<ul class="pagination js-pager__items hide-xs">
{% for row in rows  %}
{% if row.active %}
{% set rowClass = 'active' %}
{% else %}
{% set rowClass = 'not-active' %}
{% endif %}
<li class="pager__item {{ rowClass }}"><a href="{{ row.url }}" {{ row.attributes.addClass(rowClass) }}>{{ row.link }}</a></li><!---->
{% endfor %}
</ul>
<div class="pagination-mobile hide-lg">
{% for row in rows  %}
{% if row.active %}
{% set rowClassMobile = 'active-mobile' %}
{% else %}
{% set rowClassMobile = 'not-active-mobile' %}
{% endif %}
  {#{ options.inline ? '<span' : '<div' }} >
  {% if row.separator -%}
    {{ row.separator }}
  {%- endif %#}
  <span class="{{ rowClassMobile }}"><a href="{{ row.url }}"{{ row.attributes.addClass(rowClassMobile) }}>{{ row.link }}</a></span>
  {#% if options.count %}
    ({{ row.count }})
  {% endif %}
  {{ options.inline ? '</span>' : '</div>' }#}
{% endfor %}

</div>
