{#
/**
 * @file
 * Default theme implementation to display an item in a views RSS feed.
 *
 * Available variables:
 * - title: RSS item title.
 * - link: RSS item link.
 * - description: RSS body text.
 * - item_elements: RSS item elements to be rendered as XML (pubDate, creator,
 *   guid).
 *
 * @see template_preprocess_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}
<item>
<title><![CDATA[{{ title }}]]></title>
<link>{{ link }}</link>
<description><![CDATA[{{ description }}]></description>
<news:media_target>{{ media_target }}</news:media_target>
<news:tags></news:tags>
<news:start_date>{{ story_date }}</news:start_date>
<news:pub_start_date>{{ pub_start_date }}</news:pub_start_date>
<news:pub_end_date>{{ pub_end_date }}</news:pub_end_date>
<news:url><![CDATA[{{ url }}]]></news:url>
<news:url_label><![CDATA[{{ url_label }}]]></news:url_label>
<news:priority>{{ priority }}</news:priority>
</item>
