{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}

  <div class="logo">
    <a href="{{ path('<front>') }}" title="{{ 'San Diego Miramar College'|t }}" rel="home">
      <img class="hide-xs" src="{{ site_logo }}" alt="{{ 'San Diego Miramar College'|t }}" />
      <img class="hide-lg img-responsive" src="/{{ directory }}/images/logo-mobile.png" alt="San Diego Miramar College">
    </a>
    <a href="#" class="mobile-menu navbar-toggle" role="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i><span class="sr-only">Mobile Menu</span></a>
  </div>
{% endblock %}
