{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% set site_logo = '"/themes/custom/miramar/logo.png"' %}
<div class="layout-container">

  <header role="banner">
  <div class="logo">
      <img class="hide-xs" src="/themes/custom/miramar/logo.png" alt="{{ 'San Diego Miramar College'|t }}" />
      <img class="hide-lg img-responsive" src="/{{ directory }}/images/logo-mobile.png" alt="San Diego Miramar College" />
  </div>
  </header>
<div class="page-cover">&nbsp;</div>

  <main role="main">
<div id="maintenance">
      <h1>Site Under Maintenance</h1>
    {{ page.highlighted }}
    <p class="bold">{{ page.content }}</p>
</div>
  </main>

  {% if page.page_bottom %}
    <footer role="contentinfo">
      {{ page.page_bottom }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
