{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - items: A nested list of menu items. Each menu item contains:
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *
 * @ingroup templates
 */
#}
  {% if items %}
<div id="menu-get-started">
	<div class="menu-get-started">
		<div class="call-menu">
		{% for key,item in items %}
			<div class="callbar">
			<a href="{{ item.url }}"><span><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;</span>{{ item.title }}</a>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
<div id="menu-get-started-mobile">
<div id="mobilespace" class="spacer"style="background-color:#dbf3f5">&nbsp;</div>
	<div class="menu-get-started-mobile">
		{% for key,item in items %}
		{% if loop.first %}
		<div class="call-mobile">
		{% endif %}
			<div class="callbar-mobile" {{ (loop.index > 2) ? 'style="border-top:0.25em solid white"' }}>
			<a href="{{ item.url }}"><span><i class="fa fa-road" aria-hidden="true"></i>&nbsp;</span>{{ item.title }}</a>
			</div>
			{% if loop.last and loop.index is not divisible by(2) %}
				<div class="callbar-mobile" style="border-top:0.25em solid white">
				</div>
			{% endif %}
		{% if loop.index is divisible by(2) %}
			</div>
			{% if not loop.last %}
			<div class="call-mobile">
			{% endif %}
		{% endif %}
		{% endfor %}
	</div>
</div>
  {% endif %}
