{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
	{% set icon = '' %}
	{% set class = '' %}
	{% set href = '' %}
      {%
        set item_classes = [
          item.is_expanded? 'expanded',
          item.is_expanded and menu_level == 0 ? 'dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
	{% set href = item.url %}
      {% if item.title == 'Career Services' %}
	{% set icon = 'briefcase' %}
      {% elseif item.title == 'Library' %}
	{% set icon = 'book' %}
      {% elseif item.title == 'Blackboard' %}
	{% set icon = 'laptop' %}
      {% elseif item.title == 'Employee Resources' %}
	{% set icon = 'lightbulb-o' %}
      {% else %}
	{% set class = 'class=search  '|raw %}
	{% set href = 'JavaScript://' %}
	{% set icon = 'search' %}
      {% endif %}
        <a {{ class }}href="{{ href }}?utm_source=homepage_topbar&utm_medium=homepage&utm_campaign=menu"><i class="fa fa-{{ icon }}" aria-hidden="true"></i> {{ item.title }}</a>
    {% endfor %}
    <div class="search-desktop">
      <a class="close-x" href="#"><i class="fa fa-times" aria-hidden="true" title="Close Search"></i><span class="sr-only">Close Search</span></a>
	{{ render_block('searchform') }}
    </div>
  {% endif %}
{% endmacro %}
